<web-app>
	<servlet>
		<servlet-name>jersey</servlet-name>
		<servlet-class>
			com.sun.jersey.spi.container.servlet.ServletContainer
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>jersey</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>AuthFilter</filter-name>
		<filter-class>com.sg.security.AuthFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/rest/*</url-pattern>
	</filter-mapping>
	
</web-app>